*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.tittle{
    color: blueviolet;
    font-family: 'Concert One', cursive;
}
p{
    font-size: 1rem;
}